*.ipch
*.obj
*.pdb
*.ilk
.venv/

out/cmake/
out/gis_sources/
out/gis_validation/
/WorldSimulation.exe
/sfml-*.dll
/openal32.dll
/x64/Release/assets/
/x64/Release/data/
/x64/Release/out/
/x64/Release/imgui.ini
/x64/Release/sfml-*.dll
/x64/Release/openal32.dll
/tools/__pycache__/prepare_gis_world.*.pyc
